<ion-view ng-controller="MyLeadsCtrl" view-title="הלידים שלי">
  <ion-content class="rtl">
    <h2 class="text-center">טבלת הלידים שלי:</h2>


    <!--<div class="row header">
      <div class="col">תאריך</div>
      <div class="col">סוג ליד</div>
      <div class="col">מקור ליד</div>
      <div class="col">הערות</div>
      <div class="col">סטטוס</div>
    </div>
    <div class="lead_block" ng-class="{lead_block_active: isShown(item.id)}" ng-repeat="item in myLeads">
      <div class="row" ng-click="toggle(item.id)">
        <div class="col">{{item.timestamp}}</div>
        <div class="col">{{item.lead_source.type}}</div>
        <div class="col">{{item.lead_source.name}}</div>
        <div class="col">{{item.lead_details.comments}}</div>
        <div class="col">{{item.lead_log[0].lead_status}}</div>
      </div>
      <div class="lead_details_block" ng-show="isShown(item.id)">
        <h4>פירוט היסטוריית הליד:</h4>
        <div class="lead_block" ng-repeat="logEntry in item.lead_log">
          <div class="row">
            <div class="col">{{logEntry.timestamp}}</div>
            <div class="col">{{logEntry.lead_status}}</div>
            <div class="col">{{logEntry.comments}}</div>
          </div>
        </div>
        <button class="padding button button-balanced" ng-click="statusUpdatePopup(item)">עדכון סטטוס</button>
      </div>
    </div>-->


    <div class="card" ng-repeat="item in myLeads">
      <div class="item item-divider" ng-click="toggle(item.id)">
        <div style="float: right;">
          <span>תאריך: </span><span>{{item.timestamp | date:'dd/MM/yyyy'}}</span>
        </div>
        <div style="float: left;">
          <span>סטטוס: </span><span>{{item.lead_log[0].lead_status}}</span>
        </div>
      </div>
      <div class="item item-text-wrap" ng-show="isShown(item.id)">
        <h2 class="text-center text-bold">פרטי הליד</h2>
        <span>ליד מאומת: </span><span class="text-bold">{{parseInt(item.lead_verified)? 'כן': 'לא'}}</span>
        <br>
        <span>שם: </span><span>{{item.lead_details.username}}</span>
        <br>
        <span>טלפון: </span><span>{{item.lead_details.phone}}</span>
        <br>
        <span>אימייל: </span><span>{{item.lead_details.email}}</span>
        <br>
        <span>כתובת: </span><span>{{item.lead_details.address}}</span>
        <br>
        <span>תקציב: </span><span>{{item.lead_details.budget}}</span>
        <br>
        <span>הערות: </span><span>{{item.lead_details.comments}}</span>
        <br>
        <span>צורך: </span><span>{{item.lead_details.need}}</span>
        <br>
        <span>שלב בנייה: </span><span>{{item.lead_details.buildingStage}}</span>
        <br>
        <br>

        <h2 class="text-center text-bold">פרטי שולח הליד</h2>
        <span>שם: </span><span>{{item.lead_source.name}}</span>
        <br>
        <br>

        <h2 class="text-center text-bold">היסטוריית הליד</h2>
        <div ng-repeat="ll in item.lead_log">
        <span>תאריך עדכון: </span><span>{{correctDate(ll.timestamp) | date:'dd/MM/yyyy'}} | </span>
        <span>סטטוס: </span><span>{{ll.lead_status}}</span>
        <br>
        <span>הערות: </span><span>{{ll.comments}}</span>
        <br><br>
        </div>

        <button class="padding button button-balanced" ng-click="statusUpdatePopup(item)">עדכון סטטוס</button>
      </div>
    </div>
  </ion-content>
</ion-view>
